<form [formGroup]="form" #formValue>
    <div class="form-group">
      <label for="password"><b>Old Password</b></label>
      <input type="text" class="form-control" id="password" formControlName="old_password">
      <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
        <div *ngIf="oldPassword.errors?.['required']">Old Password is required.</div>
        <div *ngIf="oldPassword.errors?.['shouldBeValid']">Old Password is not valid.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password"><b>New Password</b></label>
      <input type="text" class="form-control" id="password" formControlName="new_password">
      <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
        <div *ngIf="newPassword.errors?.['required']">New Password is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password"><b>Confirm Password</b></label>
      <input type="text" class="form-control" id="password" formControlName="confirm_password">
      <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
        <div *ngIf="confirmPassword.errors?.['required']">Confirm Password is required.</div>
        <div *ngIf="form.invalid && confirmPassword.errors?.['shouldBeMatched']">Password doesn't match.</div>
      </div>
    </div>
  <button class="btn btn-primary" type="submit">Change Password</button>
</form>
